@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: lightgray;
}

.nav__item {
    color: black;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 5px;
}
.active {
    background-color: black;
    color: white;
}

.nav {
    margin-right: 20px;
    margin-top: 50px;
}

.wrapper {
    padding: 100px 0;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.nav input {
    background-color: white;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}

.collections {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.collection {
    background-color: white;
    box-shadow: 0 2px 0 grey;
    max-width: 450px;
    width: 30%;
    padding: 20px;
    border-radius: 30px;
    margin-top: 40px;
}

.collection>img {
    width: 100%;
    border-radius: 25px;
    height: 253px;
    object-fit: cover;
}

.small-images {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.small-images>img {
    width: 30%;
    border-radius: 25px;
    height: 100px;
    object-fit: cover;
}

.collections h3 {
    font-weight: normal;
    font-size: 1.5em;
}